.tool-bar {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    margin-top: 2px;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
    background: #ffffff;
    border-bottom: 4px solid #fbc02d;
    border-style: solid;
    border-color: #fbc02d;
    color: #000000;
    border-radius: 5px;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
    outline: none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #ffffff;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav {
    background: #ffffff;
    border: 1px solid #ffffff;
    border-width: 0 0 2px 0;
}

:host ::ng-deep .p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border: solid #ffffff;
    border-width: 0 0 2px 0;
    border-color: transparent transparent transparent transparent;
    background: #ffffff;
    color: #6c757d;
    padding: 1rem;
    font-weight: 600;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    transition: box-shadow 0.2s;
    margin: 0 0 -2px 0;
}

.user {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border: solid 2px rebeccapurple;
    cursor: pointer;
}

.one {
    background-image: url('../../assets/logos/avatar.png');
}

a {
    cursor: pointer;
}

.profile-card {
    padding: 1rem;
    padding-bottom: 0;
}

.user-card {
    padding: 1rem;
    padding-top: 0;
    border-top: 1px solid rgb(52 52 52);
}

.user-profile-photo-header {
    cursor: pointer;
    border: 2px solid rgb(31, 173, 97);
    border-radius: 50%;
}

.user-profile-photo {
    cursor: pointer;
    border: 5px solid rgb(31, 173, 97);
    border-radius: 50%;
}

.profile-hover:hover {
    cursor: pointer;
}

div#child {
    margin: 0 auto;
}

::ng-deep .ui-fileupload-choose .fa-plus::before {
    content: "\F0A6";
}

:host ::ng-deep .p-fileupload-choose.p-button,
.p-fileupload-choose.p-button .ui-widget,
.p-fileupload-choose.p-button .ui-state-default {
    background: rgba(96, 125, 139, 0.04);
    color: #607D8B;
    border: 1px solid;
}


/* :host ::ng-deep .p-fileupload-choose.p-button.ui-state-hover,
.p-fileupload-choose.p-button.ui-state-focus,
.p-fileupload-choose.p-button.ui-state-active {
    background-color: #025aa5;
    border-color: #acacac;
} */