<div class="color-class">
    <div class="card">
        <div class="flex card-container ">
            <div class="flex-1 text-black  text-center p-4 border-round">
                <h4>About Author/Developer</h4>
                <p>
                    Hi I'am Abhishek Kadavergu, a post graduate student from JNTU college of Engineering, Kukatpally Hyderabad. Currently, working as a UI developer at TCS. If you want to know more about me please follow me on LinkedIn.
                </p>
            </div>
            <div class="flex-1 text-black  text-center p-4 border-round mx-1">
                <h4>CONTACT ME</h4>
                <P>Email: abhishekkadavergu@gmail.com</P>
                <a pButton pRipple type="button" icon="pi pi-linkedin" class="p-button-rounded p-button-secondary mr-2" href="https://www.linkedin.com/in/abhishek-kadavergu/" target="_blank"></a>
                <a pButton pRipple type="button" icon="pi pi-twitter" class="p-button-rounded p-button-secondary" href="https://twitter.com/abhi_kadavergu" target="_blank"></a>

            </div>
        </div>
    </div>
    <div class="text-black text-center border-round p-1">
        <p>Copyright &copy; 2022 Money Tracker. All rights reserved.</p>

    </div>
</div>