<h4>Add Expense</h4>
<form [formGroup]="expenseForm" (ngSubmit)="onSubmit()">
    <div class="formgroup-inline">
        <div class="field">
            <label for="amount" class="p-sr-only">Amount</label>
            <input id="amount" [type]="1==1?'number':'text'" formControlName="amount" pInputText placeholder="Amount" />
        </div>
        <div class="field">
            <label for="category" class="p-sr-only">Category</label>
            <p-dropdown inputId="category" [options]="expCategories" placeholder="Select Category" formControlName="category" optionLabel="label"></p-dropdown>
        </div>
        <div class="field">
            <label for="date" class="p-sr-only">Date</label>
            <p-calendar placeholder="Date" formControlName="date" [showIcon]="true" inputId="date" appendTo="body" styleClass="calender-btn">
            </p-calendar>
        </div>
        <button pButton pRipple type="submit" label="ADD" class="p-button-outlined p-button-secondary outlinedBtn"></button>
    </div>
</form>

<button pButton class="mb-3 detailsButton" type="button" label="Get Expenses" (click)="getAllDetails(undefined, undefined)"></button>



<div class="card" *ngIf="showTable">
    <p-table #dt responsiveLayout="stack" [value]="userExpenses" dataKey="_id" editMode="row" [globalFilterFields]="['category', 'amount']">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between flex-wrap card-container">
                <div class="flex align-items-center justify-content-center   font-bold text-black border-round m-2">List of Expenses</div>
                <div class="flex align-items-center justify-content-center   font-bold text-white border-round m-2">
                    <span class="p-ml-auto">
                        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
                            [showIcon]="true" placeholder="Select a period" appendTo="body"></p-calendar>
                        <button style="margin-left: 2px" pButton type="button" label="Go"
                            (click)="getDetailsWithinRange()"
                            class="p-button-outlined p-button-secondary outlinedBtn"></button>
                    </span>
                </div>
                <div class="flex align-items-center justify-content-center font-bold text-white border-round m-2"> <span class="p-input-icon-left p-ml-auto">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                            placeholder="Search keyword" />
                    </span></div>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th style="width: 8rem">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-expense let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="expense">
                <td>
                    <span class="p-column-title">Date</span>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-calendar [(ngModel)]="expense.date" [showIcon]="true" inputId="icon" dateFormat="dd.mm.yy"></p-calendar>
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ expense.date | date }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td>
                    <span class="p-column-title">Category</span>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="expCategories" [(ngModel)]="expense.category" [style]="{'width':'100%'}"></p-dropdown>

                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ expense.category }}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td>
                    <span class="p-column-title">Amount</span>

                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="expense.amount" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ expense.amount | currency: "INR" }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Action</span>

                    <div>
                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(expense)" class="p-button-rounded p-button-text action_buttons"></button>
                        <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDlete(expense)" class="p-button-rounded p-button-text p-button-danger action_buttons"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(expense)" class="p-button-rounded p-button-text p-button-success p-mr-2 action_buttons"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(expense, ri)" class="p-button-rounded p-button-text p-button-danger action_buttons"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>