.detailsButton.p-button {
    color: #ffffff;
    background: #fbc02d !important;
    border: 1px solid #fbc02d;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}

.detailsButton.p-button:hover {
    color: black;
    background: #fbc02d !important;
    border: 1px solid #fbc02d;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}