<div class="container">
    <main>
        <div class="signin-div">
            <div class="signin-div-ele">
                <p class="app-title">Money Tracker</p>
            </div>
            <div class="signin-div-ele">
                <a routerLink="/login" class="signin-link">Sign In</a>
            </div>
        </div>
        <div class="head-container">
            <div class="main-header">
                <p>Forgot Password</p>
            </div>

            <p-steps [model]="items" [readonly]="false" #item [activeIndex]="step"></p-steps>

            <div [hidden]="submitted || step!==0" class="main-container">
                <form #forgotPwdForm="ngForm" (ngSubmit)="getQuestions(forgotPwdForm.value, item)">
                    <input type="email" class="form-control" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required name="user_email" #user_email="ngModel" ngModel class="inputfield w-full blackbgInput" pInputText placeholder="Email">
                    <div *ngIf=" submitted || user_email.touched">
                        <small *ngIf="user_email.hasError('required')" class="error-message-color">Email is a required
                            field</small>
                        <small *ngIf="user_email.hasError('pattern')" class="error-message-color">Not a valid
                            email</small>
                    </div>

                    <button type="submit" [disabled]="forgotPwdForm.invalid" pButton pRipple label="Submit" class="p-button-outlined p-button-rounded p-button-secondary outlinedBtn mt-2"></button>

                </form>
            </div>

            <div class="main-container" *ngIf="question && step===1">
                <form [formGroup]="setPwdForm" (ngSubmit)="setNewPassword(item)">
                    <div class="field">
                        <label for="response">{{question}}</label>
                        <input type="text" formControlName="response" pInputText id="response" class="inputfield w-full blackbgInput">
                        <div *ngIf="response.invalid && response.touched">
                            <small *ngIf="response.hasError('required')" class="error-message-color">Please enter
                                response</small>
                            <small *ngIf="response.hasError('pattern')" class="error-message-color">Response should
                                contain only letters</small>
                            <!-- <p-message severity="error" text="Please enter response" *ngIf="response.hasError('required')"></p-message>
                            <p-message severity="error" text="Response should contain only letters" *ngIf="response.hasError('pattern')"></p-message> -->
                        </div>
                    </div>

                    <div formGroupName="passwords">

                        <div class="field">
                            <label for="new_pwd">New password</label>
                            <input type="password" formControlName="new_pwd" pInputText id="new_pwd" class="inputfield w-full blackbgInput">
                            <div *ngIf="new_pwd.invalid && new_pwd.touched">
                                <small *ngIf="new_pwd.hasError('required')" class="error-message-color">Passowrd is a
                                    required field</small>
                                <small *ngIf="new_pwd.hasError('pattern')" class="error-message-color">Passowrd length
                                    must be greater than or
                                    equals 8 and should contain atleaset one uppercase, lowercase, digit, and a special
                                    character</small>
                                <!-- <p-message severity="error" text="Passowrd is a required field" *ngIf="new_pwd.hasError('required')"></p-message>
                                    <p-message severity="error" text="Passowrd length must be greater than or equals 8 and should contain atleaset one uppercase, lowercase, digit, and a special character" *ngIf="new_pwd.hasError('pattern')"></p-message> -->
                            </div>
                        </div>

                        <div class="field">
                            <label for="con_new_pwd">Confirm new password</label>
                            <input type="password" formControlName="con_new_pwd" pInputText class="inputfield w-full blackbgInput">
                            <div *ngIf="con_new_pwd.invalid && con_new_pwd.touched">
                                <small *ngIf="con_new_pwd.hasError('required')" class="error-message-color">Passowrd is
                                    a required field</small>
                                <small *ngIf="con_new_pwd.hasError('pattern')" class="error-message-color">Passowrd
                                    length must be greater than or
                                    equals 8 and should contain atleaset one uppercase, lowercase, digit, and a special
                                    character</small>
                                <!-- <p-message severity="error" text="Passowrd is a required field" *ngIf="con_new_pwd.hasError('required')"></p-message>
                                        <p-message severity="error" text="Passowrd length must be greater than or equals 8 and should contain atleaset one uppercase, lowercase, digit, and a special character" *ngIf="con_new_pwd.hasError('pattern')"></p-message> -->
                            </div>
                            <div *ngIf="con_new_pwd.touched && con_new_pwd.valid">
                                <small *ngIf="con_new_pwd.value != new_pwd.value && con_new_pwd.value != null" class="error-message-color">Password
                                    doesn't match</small>
                                <!-- <p-message severity="error" *ngIf="con_new_pwd.value != new_pwd.value && con_new_pwd.value != null" style="color: red;" text="Password doesn't match"></p-message> -->
                            </div>

                        </div>

                    </div>

                    <button type="submit" [disabled]="setPwdForm.invalid" pButton pRipple label="Submit" class="p-button-outlined p-button-rounded p-button-secondary outlinedBtn mt-2"></button>



                </form>

            </div>

            <div class="pwd-message" *ngIf="step===2">
                <p style="color: white;">Successfully a new password has been set, please login to continue.</p>
                <button type="button" pButton pRipple class="p-button-outlined p-button-rounded p-button-secondary outlinedBtn mt-2" label="Go to Login" (click)="login()"></button>
            </div>
        </div>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>