.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('../../../assets/background-images/pexels-karolina-grabowska-5412326.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    flex: 1;
}

.head-container {
    /* display: flex;
    flex-direction: column;
    min-height: 100vh; */
    /* background-image: url('../../assets/background-images/pexels-karolina-grabowska-5412326.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    max-width: 600px;
    margin: 16px auto;
    background: rgba(0, 0, 0, .75);
}

.main-container {
    margin-top: 1rem;
    min-width: 200px;
    max-width: 90%;
    padding: 10px;
    /* background-color: rgb(234, 237, 237); */
    margin: 10px auto;
}

.main-header {
    margin: auto;
    /* background-color: rgb(193 176 212); */
    color: white;
    font-weight: 700;
    font-size: 2rem;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 1rem;
}


/* .ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
}

.ng-invalid:not(form) {
    border-left: 5px solid #ff0051;
} */