<!-- <form [formGroup]="bioSection" (ngSubmit)="changePassword()">

    <div class="card">
        <div class="field">
            <label for="firstname1">Current Password</label>
            <input id="firstname1" pInputText type="password" class="inputfield w-full" formControlName="password">
            <span *ngIf="password.touched && !password.valid" style="color: red;"> <small>Password not valid(should contain Atleast 1 alphabet, digit and a special character. And it must be less than or equals 10 and greater than or equals to 5)</small> </span>            <br>

        </div>
        <div class="field">
            <label for="lastname1">New Password</label>
            <input id="lastname1" pInputText type="password" class="inputfield w-full" formControlName="npwd">
            <span *ngIf="npwd.touched && !npwd.valid" style="color: red;"> <small>Password not valid(should contain Atleast 1 alphabet, digit and a special character. And it must be less than or equals 10 and greater than or equals to 5)</small> </span>            <br>
        </div>
        <div class="field">
            <label for="lastname1">Confirm New Password</label>
            <input id="lastname1" pInputText type="password" class="inputfield w-full" formControlName="new_password">
            <span *ngIf="new_password.touched && !new_password.valid" style="color: red;"> <small>Password not valid(should contain Atleast 1 alphabet, digit and a special character. And it must be less than or equals 10 and greater than or equals to 5)</small> </span>            <br>
        </div>
    </div>

    <button pButton type="submit" [disabled]="!bioSection.valid" label="Change Password"></button>


</form> -->

<div class="main-container" *ngIf="!question">
    <h3>Forgot Password</h3>
    <div class="field">
        <label for="email1">Email</label>
        <input id="email1" type="email" class="inputfield w-full" pInputText [(ngModel)]="email">
    </div>

    <button pButton pRipple type="button" label="Submit" class="p-button-outlined p-button-rounded p-button-secondary" (click)="getQuestions()"></button>

</div>

<div class="main-container" *ngIf="question">
    <h3>Secret question</h3>
    <p><strong>{{question}}</strong></p>
    <div class="field">

        <input id="question1" type="text" class="inputfield w-full" pInputText [(ngModel)]="response" placeholder="Type your response">
    </div>

    <h3>Set new password</h3>
    <div class="field">
        <label for="pwd1">New password</label>
        <input id="pwd1" type="password" class="inputfield w-full" pInputText [(ngModel)]="password">
    </div>
    <div class="field">
        <label for="pwd2">Confirm new password</label>
        <input id="pwd2" type="password" class="inputfield w-full" pInputText [(ngModel)]="cPassword">
    </div>

    <button pButton pRipple type="button" label="Submit" class="p-button-outlined p-button-rounded p-button-secondary" (click)="setNewPassword()"></button>

</div>