<p-table #dt [value]="allDetails" [columns]="cols" dataKey="_id" [globalFilterFields]="['category', 'amount']">
    <ng-template pTemplate="caption">
        <div class="flex justify-content-between flex-wrap card-container">
            <div class="flex align-items-center justify-content-center   font-bold text-black border-round">Incomes & Expenses
            </div>

            <div class="flex align-items-center justify-content-center font-bold text-white border-round"> <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" />
                </span></div>
            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="dt.exportCSV()" pTooltip="Export as CSV" tooltipPosition="bottom" class="detailsButton"></button>

        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td><span class="p-column-title">Date</span>{{ rowData.date | date }}</td>
            <td><span class="p-column-title">Category</span>{{ rowData.category }}</td>
            <td><span class="p-column-title">Amount</span>
                <div [ngClass]="{
            expenses: rowData.flag === 0,
            incomes: rowData.flag > 0
          }">
                    {{ rowData.amount | currency: "INR" }}
                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length">
                No records found
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            <td colspan="2" class="p-text-right">Balance</td>
            <td>
                <div [ngClass]="{
            negative: balance < 0,
            positive: balance > 0
          }">
                    {{ balance | currency: "INR" }}
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>