/* .login-container {
    background-image: url("../../assets/logos/money_tracker.png");
} */

.login {
    margin: 2rem;
    max-width: 400px;
    max-height: 400px;
}

.login-container {
    margin: auto;
}

.forgotpwd {
    cursor: pointer;
    color: dodgerblue;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}