<h4>Add Income</h4>
<form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
    <div class="formgroup-inline">
        <div class="field">
            <label for="amount" class="p-sr-only">Amount</label>
            <input id="amount" type="number" formControlName="amount" pInputText placeholder="Amount" />
        </div>
        <div class="field">
            <label for="category" class="p-sr-only">Category</label>
            <!-- <input
        id="category"
        type="text"
        formControlName="category"
        pInputText
        placeholder="Category"
      /> -->
            <p-dropdown inputId="category" [options]="incomeCategories" placeholder="Select Category" formControlName="category" optionLabel="name"></p-dropdown>
        </div>
        <div class="field">
            <label for="date" class="p-sr-only">Date</label>
            <p-calendar placeholder="Date" formControlName="date" [showIcon]="true" inputId="date"></p-calendar>
        </div>
        <button pButton type="submit" label="ADD"></button>
    </div>
</form>

<button pButton class="p-mb-3" type="button" label="Get Incomes" (click)="getIncomesByRange(undefined, undefined)"></button>

<div class="card" *ngIf="showTable">
    <p-table responsiveLayout="stack" #dt [value]="userIncomes" dataKey="_id" editMode="row" [globalFilterFields]="['category', 'amount']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                List of Incomes
                <span class="p-ml-auto">
          <p-calendar
            [(ngModel)]="rangeDates"
            selectionMode="range"
            [readonlyInput]="true"
            [showIcon]="true"
            placeholder="Select a period" 
          ></p-calendar>
          <button
            style="margin-left: 2px"
            pButton
            type="button"
            label="Go"
            (click)="getDetailsWithinRange()"
          ></button>
        </span>
                <span class="p-input-icon-left p-ml-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search keyword"
          />
        </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Date</th>
                <th>Category</th>
                <th>Amount</th>
                <th style="width: 8rem">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-income let-editing="editing" let-ri="rowIndex">
            <tr [pEditableRow]="income">
                <td><span class="p-column-title">Date</span>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input type="date" [(ngModel)]="income.date">
                            <!-- <p-calendar [(ngModel)]="date2" [showIcon]="true" inputId="icon" dateFormat="dd.mm.yy"></p-calendar> -->
                        </ng-template>
                        <ng-template pTemplate="output">
                            <!-- {{ income.date | date: "dd/MM/yyyy" }} -->
                            {{ income.date | date }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td><span class="p-column-title">Category</span>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <p-dropdown [options]="incomeCategories" [(ngModel)]="income.category" [style]="{'width':'100%'}"></p-dropdown>
                            <!-- <input pInputText type="text" [(ngModel)]="income.category" required /> -->
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ income.category }}
                        </ng-template>
                    </p-cellEditor>
                </td>

                <td><span class="p-column-title">Amount</span>
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input pInputText type="number" [(ngModel)]="income.amount" />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ income.amount | currency: "INR" }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center">
                    <span class="p-column-title">Action</span>
                    <div class="action_buttons">

                        <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(income)" class="p-button-rounded p-button-text"></button>
                        <button *ngIf="!editing" pButton pRipple type="button" icon="pi pi-trash" (click)="onRowDlete(income)" class="p-button-rounded p-button-text p-button-danger"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(income)" class="p-button-rounded p-button-text p-button-success p-mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(income, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>