<form [formGroup]="bioSection" (ngSubmit)="changePassword()">

    <div class="card mt-3 mb-3">
        <div class="field">
            <label for="firstname1">Current Password</label>
            <input id="firstname1" pInputText type="password" class="inputfield w-full" formControlName="curent_password">
            <div *ngIf="curent_password.touched && curent_password.invalid">
                <small *ngIf="curent_password.hasError('required')" style="color: red;">Please enter password</small>
                <small *ngIf="curent_password.hasError('pattern')" style="color: red;">Passowrd length must be greater than or equals 8 and should contain atleaset one uppercase, lowercase, digit, and a special character</small>

            </div>
        </div>
        <div formGroupName="passwords">
            <div class="field">
                <label for="newpwd">New Password</label>
                <input id="newpwd" pInputText type="password" class="inputfield w-full" formControlName="new_password">
                <div *ngIf="new_password.touched && new_password.invalid">
                    <small *ngIf="new_password.hasError('required')" style="color: red;">Please enter password</small>
                    <small *ngIf="new_password.hasError('pattern')" style="color: red;">Passowrd length must be greater than or equals 8 and should contain atleaset one uppercase, lowercase, digit, and a special character</small>
                </div>
            </div>
            <div class="field">
                <label for="conpwd">Confirm New Password</label>
                <input id="conpwd" pInputText type="password" class="inputfield w-full" formControlName="confirm_password">
                <div *ngIf="confirm_password.touched && confirm_password.invalid">
                    <small *ngIf="confirm_password.hasError('required')" style="color: red;">Please enter password</small>
                    <small *ngIf="confirm_password.hasError('pattern')" style="color: red;">Passowrd length must be greater than or equals 8 and should contain atleaset one uppercase, lowercase, digit, and a special character</small>
                </div>

                <div *ngIf="confirm_password.touched && confirm_password.valid">
                    <small *ngIf="confirm_password.value != new_password.value && confirm_password.value != null" style="color: red;">Password doesn't match</small>
                </div>

                <!-- <div style='color:#ff7355' *ngIf="bioSection.get(['passwords','new_password']).value != bioSection.get(['passwords','confirm_password']).value && bioSection.get(['passwords','confirm_password']).value != null">
                    Password does not match</div> -->
            </div>
        </div>
    </div>

    <button pButton type="submit" [disabled]="bioSection.invalid" label="Change Password" class="mb-3 detailsButton"></button>


</form>