/* You can add global styles to this file, and also import other style files */

body {
    /* font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”; */
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}


/* .user-pannel.p-overlaypanel {
    background: #161616 !important;
    color: #ffffff !important;
} */

.user-pannel.p-overlaypanel {
    min-width: 250px !important;
    background: #161616;
    color: #ffffff;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0px 11px 15px -7px rgb(0 0 0 / 59%), 0px 24px 38px 3px rgb(0 0 0 / 34%), 0px 9px 46px 8px rgb(0 0 0 / 39%);
}

.user-pannel.p-overlaypanel .p-overlaypanel-content {
    padding: 0;
}

.p-fileupload-choose:not(.p-disabled):hover {
    background: #c7c6c6;
    color: #353535;
    border-color: #b1b2b3;
}

.p-fileupload-choose:not(.p-disabled):active {
    background: #c7c6c6;
    color: #353535;
    border-color: #b1b2b3;
}

.p-datepicker table td {
    padding: 0 !important;
}

.p-datepicker table {
    font-size: 0.7rem;
    margin: 0.1rem 0;
}

.p-datepicker {
    padding: 0.3rem;
    background: #ffffff;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 3px;
}

.p-datepicker table td>span {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transition: box-shadow 0.2s;
    border: 1px solid transparent;
}

.p-inputtext {
    margin: 0;
    background: transparent !important;
    border: none;
    border-bottom: 1px solid;
}

.p-inputtext:enabled:focus {
    border-color: none !important;
    box-shadow: none !important;
    outline: none !important;
}

.p-inputtext:hover {
    box-shadow: 0 0 0 0.02rem green !important;
}

.outlinedBtn.p-button.p-button-outlined {
    background-color: transparent;
    color: #fbc02d !important;
    border: 1px solid;
}

.outlinedBtn.p-button.p-button-outlined:hover {
    background-color: #fbc02d !important;
    color: white !important;
    border: 1px solid;
}

.p-calendar-w-btn .p-datepicker-trigger {
    border: none;
    background-color: #fbc02d !important;
}

.p-steps .p-steps-item .p-menuitem-link {
    transition: box-shadow 0.2s;
    border-radius: 3px;
    background: transparent !important;
}

.p-steps .p-steps-item.p-highlight .p-steps-title {
    font-weight: 600;
    color: #ffffff;
}

.p-steps .p-steps-item.p-highlight .p-steps-number {
    background: #fbc02d;
    color: #000000;
}

.blackbgInput.p-inputtext {
    color: #ffffff;
}

.signin-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgba(0, 0, 0, .75);
    /* border-bottom: rgb(216, 33, 33); */
}

.signin-div-ele {
    padding: 0 1rem;
}

.signin-link {
    color: #f50247;
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
}

.signin-link:hover {
    text-decoration: underline;
}

.app-title {
    color: #f50247;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 5px;
}

.error-message-color {
    color: #f50247;
}

:focus {
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}