/* .header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.main-content {
    padding: 16px;
    margin-top: 100px;
    height: 1500px;
} */


/* .main-content {
    min-height: calc(100vh - 95px);
}

.footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;
    background: #6cf;
} */

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-image: url('../../assets/background-images/pexels-karolina-grabowska-5412326.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}


/* .sub-container {
    background: rgba(0, 0, 0, .75);
} */

main {
    margin: 5px;
    padding: 5px;
    flex: 1;
}